<html>
<head>
	<style media="screen" type="text/css">
		.background {
			margin: 0px;
			background: radial-gradient(ellipse at top left, rgba(105,155,200,1) 0%,rgba(181,197,216,1) 57%);
		}
		
		.header {
			background: white;
			padding: .5em;
			padding-right: 2em;
			text-align: right;
		}
		
		#foursquare-form {
			display: inline-flex;
			margin-top: 10em;
		}
		
		#foursquare-img {
			width: 5em;
			height: 5em;
		}
		
		#foursquare-button {
			padding: 1em;
		}
		
	</style>
</head>
<body class="background" >
	<center>
	
		<div class="header">
			{% if current_user.is_logged_in() %}
				{{current_user.firstname}} {{current_user.lastname}} - <a href="/logout">Logout</a>
			{% else %}
				<a href="/login">Login</a>
			{% endif %}
		</div>
	
		<h1>Ben Jacobson's Website</h1>
		
		<br/><br/>
		
		<h3>Users</h3>
	
		{% for user in users %}
		<div>
			<a href="/user/{{user.id}}">{{user.firstname}} {{user.lastname}}</a>
		</div>
		{% endfor %}

		<br/>

		<div>
			<a href="/chat">Chat</a> with online users!
		</div>
		
	</center>
</body>
</html>